@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('/css/fonts/IRANSansWeb.eot');
    src: url('/css/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/css/fonts/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('/css/fonts/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/css/fonts/IRANSansWeb.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansFA;
    src:url('/css/fonts/IRANSans(FaNum).ttf')
}

*{
    font-family : IRANSansFA
}
